<div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
        <div class="brand">
            <div class="title center-align">
                <% if (config.subtitle && config.subtitle.length > 0) { %>
                    <%= config.subtitle %>
                <% } else { %>
                    subtitle
                <% } %>
            </div>

            <div id="hitokoto" class="description center-align" >
            <script type="text/javascript" src="https://api.uixsj.cn/hitokoto/get?type=zha&code=js"></script><div id="hitokoto"><script>zha()</script></div>
            </div>

            
        </div>
    </div>
</div>
<script>
// 每天切换 banner 图.  Switch banner image every day.
$('.bg-cover').css('background-image', 'url(/medias/banner/' + new Date().getDay() + '.jpg)');
</script>